---
permalink: /culture
---

{% include header.html %}
{% include nav.html content="culture" %}

<h2 class="pgtitle">Culture: Lifeblood of the Central African Republic</h2>
<p class="culture">
    Even though the Central African Republic has developed a reputation as one of, if not the most, dangerously unstable
    nations in the world, the culture remains vibrant and diverse. The culture is very heavily inspired by their
    <span class="imgexpose" id="cow">agricultural output</span>, most prominently <span class="imgexpose" id="coffee">coffee</span> and <span class="imgexpose">cotton</span>; with local items like yams, corn, peanuts, and peppers also
    being added to the mix. Locals always eat with their hands, specifically the right hand. Shaking hands is a generally
    expected custom. Most locals <span class="imgexpose">dress modestly</span>, even more so in Muslim areas.
</p>
<div class="gallery">
    <div class="column left">
        <img class="cultureimg" src="assets/images/coffee_beans.jpg" alt="">
        <img class="cultureimg" src="assets/images/cow.jpg" alt="">
    </div>
    <div class="column right">
        <img class="cultureimg" src="assets/images/loom.jpg" alt="">
        <img class="cultureimg" src="assets/images/military_parade.jpg" alt="">
        <img class="cultureimg" src="assets/images/vibrant_clothing.jpg" alt="">
    </div>
</div>

{% include footer.html %}