---
permalink: /how-can-you-help
---

{% include header.html %}
{% include nav.html content="help" %}

<h2 class="pgtitle">How Can <span class="you">You</span> Help?</h2>
<div class="option">
    <div class="section">
        <a class="soltitle sollink" href="https://www.unhcr.org/en-us/">UNHCR</a>
        <p class="solution">The UN Refugee Agency has put a multitude of humanitarian efforts into the issue of CAR. They provided refuge along with
        resources, awareness projects, articles, and aided the fight to a peaceful region. They have saved countless lives with
        community shelters and constant sustenance.</p>
    </div>
    <div class="section">
        <a class="soltitle sollink" href="https://www.unicef.org/press-releases/two-three-children-central-african-republic-need-humanitarian-assistance">UNICEF</a>
        <p class="solution">The UN Refugee Agency has put a multitude of humanitarian efforts into the issue of CAR. They provided refuge along with
        resources, awareness projects, articles, and aided the fight to a peaceful region. They have saved countless lives with
        community shelters and constant sustenance.</p>
    </div>
    <div class="section">
        <a class="soltitle sollink" href="https://www.rescue.org/country/central-african-republic">International Rescue Committee</a>
        <p class="solution">The IRC, along with a spread of nutrition for the malnourished, clean water, sanitation aid, and sanctuary for young
        women and girls, has written multiple articles highlighting the issues that have become apparent in CAR along with
        warnings for women, girls, and children.</p>
    </div>
    <div class="section">
        <a class="soltitle sollink">Additional Notes</a>
        <p class="solution">Donations to all of these organizations can aid the fight against malnutrition and support protection in the region of
        the Central African Republic.</p>
    </div>
</div>

{% include footer.html %}