---
permalink: /
---
{% include header.html %}
{% include nav.html content="" %}

<div class="blocks">
    <div class="block block1">
        <h1 class="title">The Central African Republic's</h1>
    </div>
    <div class="block block2">
        <h1 class="title">Refugee Crisis</h1>
    </div>
    <div class="block block3">
        <h1 class="title">& Internally Displaced Persons</h1>
    </div>
</div>
<p class="history">
    The Central African Republic, or CAR, is a landlocked nation in central Africa, it borders the Democratic Republic of
    the Congo to the south and Chad to the north. It is a relatively young nation, having gained independence from France in
    1960, 59 years ago. It’s a nation divided by faith, with significant tensions existing between the Christian majority
    and the sizeable Muslim minority. The country has never had a stable, democratic government. Ever since David Dacko took
    power in 1962, the country has been ruled by a succession of corrupt, military leaders. As a result, the Central African
    Republic is one of the world’s poorest countries, with a GDP per capita of only 418 dollars. There is little hope for
    the CAR to overcome its financial woes, despite large reserves of valuable natural resources such as: diamonds, exotic
    timber, gold, and uranium.
</p>
<iframe
    class="addtop"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8116811.586322109!2d16.437854047232204!3d6.611229256111118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10b8e9538d86a2b7%3A0xb89bc6025a5c8024!2sCentral%20African%20Republic!5e0!3m2!1sen!2sus!4v1570127398197!5m2!1sen!2sus"
    width=700" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

{% include footer.html %}