---
permalink: /maps
---

{% include header.html %}
{% include nav.html content="maps" %}

<h2 class="pgtitle">Maps: Illustrating a Journey</h2>
<div class="maps">
    <div class="map">
        <img src="assets/images/UNCHR_IDP_Refugee_Situation.PNG" alt="">
        <div class="info">
            <p class="mapcaption">General Conflict and Displacement</p>
            <a class="imgsrc" href="https://data2.unhcr.org/en/documents/download/58900">Source</a>
        </div>
    </div>
    <div class="map">
        <img src="assets/images/CAR_Refugee_Settlements.PNG" alt="">
        <div class="info">
            <p class="mapcaption">Areas of Migration Outside of Central African Republic</p>
            <a class="imgsrc" href="https://data2.unhcr.org/en/documents/download/56890">Source</a>
        </div>
    </div>
    <div class="map">
        <img src="assets/images/USAID_Response_Map.PNG" alt="">
        <div class="info">
            <p class="mapcaption">Active Humanitarian Programs in the Central African Republic</p>
            <a class="imgsrc" href="https://www.usaid.gov/sites/default/files/documents/1866/car_map_03-21-2019.pdf">Source</a>
        </div>
    </div>
    <div class="map">
        <img src="assets/images/IDMC_IDP_Migration_Map.png" alt="">
        <div class="info">
            <p class="mapcaption">Internal Displacement by Region within Central African Republic</p>
            <a class="imgsrc" href="https://data2.unhcr.org/en/documents/download/32953">Source</a>
        </div>
    </div>
</div>

{% include footer.html %}