---
permalink: /new-beginnings
---

{% include header.html %}
{% include nav.html content="beginning" %}

<h2 class="pgtitle">New Beginnings: The Path to Rebuilding</h2>
<div class="newbeginnings">
    <div class="section">
        <h4 class="soltitle">Ethnic Enclave</h4>
        <p class="solution">Muslims have been trapped in enclaves, and the numbers continue to grow. UN peacekeepers are forcing them to stay and
        refuse to offer security assistance when they attempt to leave. Hundreds of Muslims who want to leave fear attacks from
        the anti-balaka and do not receive peacekeeper help.</p>
    </div>
    <div class="section">
        <h4 class="soltitle">Remittance Amount To Home Country</h4>
        <p class="solution">There is no remittance amount to the CAR’s GDP. It was at 0.01% until 2017, when it fell to 0.00%.</p>
    </div>
    <div class="section">
        <h4 class="soltitle">Net Migration & Asylum Applicants</h4>
        <p class="solution">As can be seen <a class="somelink" href="https://www.worlddata.info/africa/central-african-republic/asylum.php">here</a> a spike in asylum applications since the beginning of the conflict, although it has stabilized in recent years. However, there is a slight upward trend in rejections for asylum applicants.</p>
        <img class="netmigration" src="assets/images/Asylum_Applicants.png" alt="">
        <a href="https://esa.un.org/miggmgprofiles/indicators/files/CAR.pdf ">
            <img class="netmigration" src="assets/images/Net_Migration.PNG" alt="">
        </a>

    </div>
    <div class="section">
        <h4 class="soltitle">Population Pyramids</h4>
        <p class="solution">This is the latest population pyramid available, courtesy of the CIA’s World Factbook. Residents no longer are leaving
            in droves like they did at the beginning of the conflict, and while the nation continues to stabilize, much is left to
            be done.</p>
        <img src="assets/images/2018_Population_Pyramid_Central_African_Republic.png" alt="">
    </div>
</div>

{% include footer.html %}