---
permalink: /relief
---

{% include header.html %}
{% include nav.html content="relief" %}

<h2 class="pgtitle">Relief: Aid Where it's Needed</h2>
<p class="relief">
    The United Nations established the Multidimensional Integrated Stabilization Mission in the Central African Republic, or
    MINUSCA, in 2014. This mission was the result of merging two other missions, the International Support Mission in the
    Central African Republic (MISCA), and the UN Integrated Peacebuilding Office in the Central African Republic (BINUCA).
    Most of the ~11000 troops deployed come from Rwanda, as well as other nearby African nations. The European Union has a
    peacekeeping initiative of its own, the European Union Military Operation in the Central African Republic (EUFOR RCA).
</p>
<p class="relief">
    The amount of different missions that exist makes the situation unmanageable, with bureaucratic layers of red tape
    hindering any semblance of progress to the transition to a peaceful government with an enduring solution. Having one
    office oversee a multitude of tasks would bring about a more sustainable solution for the CAR.
</p>

{% include footer.html %}