---
permalink: /stories
---

{% include header.html %}
{% include nav.html content="stories" %}

<h2 class="pgtitle">Stories: Those that Escaped</h2>
<p>(Hover over the stories!)</p>
<div class="card" id="rose">
    <h3 class="name">Rose Yasambia</h3>
    <p class="story">Violence is a common occurrence in mainland to the far reaches of the Central African Republic. Rose Yasambia, a late
    millennial at the age of 30, was one of those affected by the canopy of inhumanity across this landlocked country. She
    used to live in the Mobayi-Mbongo province, near a local river, where a large majority of the society gathered
    consistently. One day, out of the blue, Rose heard sporadic gunshots across the current of the water. Many families
    crossed the river on boats and as Rose looked across the river, from the town Moyabe, she described the militia “setting
    all the houses on fire”. According to the UN Refugee Agency, “armed groups and the fires have destroyed any hope they
    had of returning home soon.”</p>
    <a href="https://www.unhcr.org/en-us/news/stories/2017/10/59de261a4/home-close-far-central-african-republic-refugees.html" class="source">UNCHR: Rose's Home</a>
</div> 
<div class="card" id="jean">
    <h3 class="name">Jean-Pierre Rondosi</h3>
    <p class="story">Because of this constant violence, many have turned to temporary homes and communities, protected by volunteer agencies.
    One of these people, Jean-Pierre, who has his own four children family, is one of those who reside in these locations.
    He and his wife ran from their home after his entire immediate region panicked from gun violence. Jean used to make a
    living through fishing and harvesting resources from his environment, but without access to land, his job becomes
    significantly harder. The UNHCR has hosted them along with 793 other people. Efforts like this have helped the community
    and allowed stories to exit the violence ridden area of the CAR.</p>
    <a href="https://www.unhcr.org/en-us/news/stories/2018/1/5a578fbd4/central-african-refugees-exiled-across-river-long-home.html" class="source">UNCHR: Jean-Pierre's Journey</a>
</div>
<div class="card" id="emmanuel">
    <h3 class="name">Emmanuel Hulen</h3>
    <p class="story">Emmanuel Hulen was 14 years old when he was forced to leave the Central African Republic due to constant violence. As
    one of the only possible options for his family to rely on, Emmanuel was given the task of taking low paying jobs to
    support his younger siblings. According to the UNHCR’s website, “he is [now] an information technology specialist, who
    has won international awards for his innovations in the field”. People like this are extremely common in CAR; Those who
    strive to improve living conditions, but are forced to follow a career they don’t want. Though aid and support has been
    sent, the problem is not and never will be solved by external forces alone. Rather an internal drive, like the one
    Emmanuel had when he fled, will be critical.</p>
    <a href="https://www.unhcr.org/en-us/news/stories/2018/4/5ac7e52b4/unhcr-chief-meets-urban-refugees-congo-visit.html" class="source">UNCHR: Emmanuel's Career</a>
</div>

{% include footer.html %}