---
permalink: /timeline
---
{% include header.html %}
{% include nav.html content="timeline" %}

<h2 class="pgtitle">Timeline: How Did They Get Here?</h2>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">2003</span> - <span class="eventname">CAR Bush War Begins</span>
    </h4>
    <p class="eventdescription">Tensions rose and protests broke out after François Bozizé, a high ranking military officer, seized power.</p>
</div>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">November 2004</span> - <span class="eventname">Fighting Begins</span>
    </h4>
    <p class="eventdescription">Rebels raid a remote village in northern CAR, leading to a full fledged armed conflict between rebels and government
    forces.</p>
</div>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">June 21, 2007</span> - <span class="eventname">Tentative Peace is Reached</span>
    </h4>
    <p class="eventdescription">All major rebel groups except one, the CPJP, signed a ceasefire agreement with the government.</p>
</div>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">August 25, 2012</span> - <span class="eventname">CPJP and Bozizé Come to Agreement</span>
    </h4>
    <p class="eventdescription">The CPJP agrees to lay down arms under certain terms and sign a ceasefire agreement with the government.</p>
</div>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">December 12, 2012</span> - <span class="eventname">Current Conflict Begins</span>
    </h4>
    <p class="eventdescription">Bozizé accused of not honoring terms of the cease fire agreement, numerous Muslim militias from the north of the country
    formed a rebel coalition called Séléka</p>
</div>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">March 24, 2013</span> - <span class="eventname">Séléka Takes Control</span>
    </h4>
    <p class="eventdescription">Séléka forces invaded the CAR capital city, Bangui, and fully wrested control from Bozizé’s government. The group’s
    leader, Michel Djotodia, was installed as president of the country. For several months afterwards, they engaged in a
    campaign of murders, rapes, and looting. It was reported that they especially targeted the Christian community.</p>
</div>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">September 2013</span> - <span class="eventname">Séléka is Dissolved</span>
    </h4>
    <p class="eventdescription">Djotodia announced that Séléka had been dissolved. However, this just lead to the fragmentation of the group, with most
    members running wild and former generals becoming regional warlords. Members of these split fractions widely identified
    themselves as ex-Séléka.</p>
</div>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">December 2013</span> - <span class="eventname">Anti-Balaka Retaliation</span>
    </h4>
    <p class="eventdescription">A large number of local protection forces from Christian areas of the country formed a coalition called “Anti-Balaka”.
    They intended to take back control of the country and exact revenge on the Muslim community, which they viewed as being
    responsible for the atrocities commited in Bangui. At this time they commited a number of violent acts. UNICEF and
    various news outlets reported a variety of atrocities, such as the beheading of children and even the cannibalization of
    ex-Séléka members.</p>
</div>
<div class="event">
    <h4 class="eventtitle">
        <span class="time">Current State of Affairs</span>
    </h4>
    <p class="eventdescription">With the country split in half between ex-Séléka and Anti-Balaka factions, and only further fragmented by the internal
    power struggles of these groups, the violence has continued. With a population of less than 5 million, it is estimated
    that over half a million people have been displaced in the CAR. There is still no governmental control in areas outside
    of Bangui, with most of the country either being dominated by brutal warlords or in a state of complete lawlessness.</p>
</div>

{% include footer.html %}