<nav>
    <ul class="linklist">
        {% if include.content == "" %}
        <li class="navlink" id="active"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/">Home</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/">Home</a></li>
        {% endif %}
        {% if include.content == "timeline" %}
        <li class="navlink" id="active"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/timeline">Timeline</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/timeline">Timeline</a></li>
        {% endif %}
        {% if include.content == "stories" %}
        <li class="navlink" id="active"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/stories">Stories</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/stories">Stories</a></li>
        {% endif %}
        {% if include.content == "maps" %}
        <li class="navlink" id="active"><a href="/maps">Maps</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/maps">Maps</a></li>
        {% endif %}
        {% if include.content == "stats" %}
        <li class="navlink" id="active"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/statistics">Statistics</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/statistics">Statistics</a></li>
        {% endif %}
        {% if include.content == "relief" %}
        <li class="navlink" id="active"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/relief">Relief</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/relief">Relief</a></li>
        {% endif %}
        {% if include.content == "beginning" %}
        <li class="navlink" id="active"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/new-beginnings">New Beginning</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/new-beginnings">New Beginning</a></li>
        {% endif %}
        {% if include.content == "help" %}
        <li class="navlink" id="active"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/how-can-you-help">How Can You Help?</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/how-can-you-help">How Can You Help?</a></li>
        {% endif %}
        {% if include.content == "culture" %}
        <li class="navlink" id="active"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/culture">Culture</a></li>
        {% else %}
        <li class="navlink"><a href="https://rishipappu.github.io/refugee-crisis-and-idp/culture">Culture</a></li>
        {% endif %}
    </ul>
</nav>
<main>
    <div class="wrapper">
        
